/*translate*/
div.one {
    width: 300px;
    height: 100px;
    background-color: yellowgreen;
    border: 1px solid #000000;
    transform: translate(100px, 50px);
}

/*rotate*/
div.two {
    width: 300px;
    height: 100px;
    background-color: goldenrod;
    border: 1px solid #000000;
}

div.rote {
    transform: rotate(20deg);
}
div.rot {
    transform: rotate(-20deg);
}

/*scale*/
div.three {
    margin: 150px;
    width: 200px;
    height: 100px;
    border: 1px solid #000000;
    background-color: cyan;
    transform: scale(2,3);
}