.content-one {
    position: relative;
    width: 15%;
}

.img-one {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-one {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #008CBA;
}

.overlay-one .text {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content-one:hover .overlay-one {
    opacity: 1;
}

/* --------------------------------------------------- */

.content-two {
    position: relative;
    width: 19%;
}

.img-two {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s ease;
}

.middle-two .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.content-two:hover .img-two {
    opacity: 0.3;
}

.content-two:hover .middle-two {
    opacity: 1;
}

/* --------------------------------------------------- */

.content-three {
    position: relative;
    width: 19%;
}

.img-three {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-three {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay-three .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content-three:hover .overlay-three {
    bottom: 0;
    height: 100%;
}

/* --------------------------------------------------- */

.content-four {
    position: relative;
    width: 19%;
}

.img-four {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-four {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #4CAF50;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay-four .text {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 20px;
}

.content-four:hover .overlay-four {
    top: 0;
    height: 100%;
}

/* --------------------------------------------------- */

.content-five {
    position: relative;
    width: 19%;
}

.img-five {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-five {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: cadetblue;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.overlay-five .text {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.content-five:hover .overlay-five {
    width: 100%;
}

/* --------------------------------------------------- */

.content-six {
    position: absolute;
    width: 19%;
}

.img-six {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-six {
    position: absolute;
    right: 0;
    left: 100%;
    bottom: 0;
    overflow: hidden;
    background-color: coral;
    height: 100%;
    width: 0;
    transition: .7s ease;
}

.overlay-six .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content-six:hover .overlay-six {
    width: 100%;
    left: 0;
}