/* Rounded */
img.one {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

/* Circle */
img.two {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* Thumbnail  */
img.three {
    width: 150px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

/* link image */
img.four {
    width: 150px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

img.four:hover {
    box-shadow: 0 0 2px rosybrown
}

/* Responsive image */
img.five {
    max-width: 100%;
    height: auto;
}

/* Center image */
img.six {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* cards */
div.polar {
    float: left;
    width: 45%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-right: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

div.clearify::after {
    content: "";
    clear: both;
    display: table;
}

/* opacity */
.imgs img {
    width: 500px;
    height: auto;
}

div.imgs {
    float: left;
    border: 2px solid green;
    padding: 10px;
    margin: 10px;
}

div.text {
    text-align: center;
    padding: 25px;
    background-color: darkcyan;
}

div.clean::after {
    content: "";
    clear: both;
    display: table;
}

img.op1 {
    opacity: 0.2;
    transition: opacity 4s;
}

img.op1:hover {
    cursor: pointer;
    opacity: 1;
}

img.op2 {
    opacity: 0.5;
    transition: opacity 3s;
}

img.op2:hover {
    cursor: pointer;
    opacity: 0.1;
}

img.op3 {
    opacity: 1;
    transition: opacity 5s;
}

img.op3:hover {
    cursor: pointer;
    opacity: 0.1;
}

/* top right */
.content {
    position: relative;
}

.content img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.content .topright {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
}

.content .bottomleft {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 20px;
}

.content .topleft {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 20px;
}

.content .bottomright {
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 20px;
}

.content .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* image filter */
.clean-img .im {
    width: 33%;
    height: auto;
    float: left;
    max-width: 235px;
}

.clean-img::after {
    content: "";
    clear: both;
    display: table;
}

.blur {
    filter: blur(4px);
}

.brightness {
    filter: brightness(250%);
}

.contrast {
    filter: contrast(180%);
}

.grayscale {
    filter: grayscale(90%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.invert {
    filter: invert(100%);
}

.opacity {
    filter: opacity(50%);
}

.saturate {
    filter: saturate(7);
}

.sepia {
    filter: sepia(100%);
}

.shadow {
    filter: drop-shadow(8px 8px 10px green);
}
