div.one {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width 2s;
}

div.one:hover {
    width: 300px;
}

/*----------------------*/
div.two {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    transition: width 2s, height 4s;
}

div.two:hover {
    width: 300px;
    height: 300px;
}

/*----------------------*/
div.cor {
    width: 100px;
    height: 100px;
    background-color: darkorange;
    transition: width 2s;
}

div.div1 {
    transition-timing-function: linear;
}

div.div2 {
    transition-timing-function: ease;
}

div.div3 {
    transition-timing-function: ease-in;
}

div.div4 {
    transition-timing-function: ease-out;
}

div.div5 {
    transition-timing-function: ease-in-out;
}

div.cor:hover {
    width: 300px;
}

/*----------------------*/
div.four {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transition: width 3s;
    transition-delay: 1s;
}

div.four:hover {
    width: 300px;
}

/*----------------------*/
div.five {
    width: 100px;
    height: 100px;
    background-color: darkblue;
    transition: width 2s, height 2s, transform 2s;
}

div.five:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}