.reverse {
    width: 400px;
    height: auto;
}

.reverse:hover {
    cursor: pointer;
    transform: scaleX(-1);
}

/*------------------------------------------------------*/

* {
    box-sizing: border-box;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/*------------------------------------------------------*/

#myImg {
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content (image) */
.modal-content {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #cccccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100px;
    }
}