/*first style border*/
.one {
    float: left;
}

#rcorners1 {
    display: block;
    background-color: yellowgreen;
    padding: 20px;
    width: 500px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
}

#rcorners2 {
    display: block;
    border: 2px solid green;
    padding: 20px;
    width: 500px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
}

#rcorners3 {
    display: block;
    background-color: aqua;
    padding: 20px;
    width: 500px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
}

.first::after {
    content: "";
    clear: both;
    display: table;
}

.one p:first-child {
    color: gray;
    text-align: center;
}

/*second border*/
#corners1 {
    background-color: darkcyan;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 15px 50px 30px 5px;
}

#corners2 {
    background-color: darkcyan;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 15px 50px 30px;
}

#corners3 {
    background-color: darkcyan;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 15px 50px;
}

#corners4 {
    background-color: darkcyan;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

/*border third*/
#border1 {
    background-color: darkorange;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 50px / 15px;
}

#border2 {
    background-color: darkorange;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 15px / 50px;
}

#border3 {
    background-color: darkorange;
    padding: 20px;
    width: 200px;
    height: 150px;
    border-radius: 50%;
}


