img.one {
    width: 100px;
    height: auto;
    -webkit-box-reflect: below;
    margin-bottom: 150px;
}

img.two {
    width: 100px;
    height: auto;
    -webkit-box-reflect: right;
    margin-bottom: 30px;
}

img.three {
    width: 100px;
    height: auto;
    -webkit-box-reflect: below 20px;
    margin-bottom: 150px;
}

img.four {
    width: 100px;
    height: auto;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    margin-bottom: 150px;
}