body {
    font-family: Tahoma, sans-serif;
}

h1.one {
    text-shadow: 2px 2px;
}

h1.two {
    text-shadow: 2px 2px goldenrod;
}

h1.three {
    text-shadow: 2px 2px 5px green;
}

h1.four {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

h1.five {
    color: aliceblue;
    text-shadow: 0 0 3px blue;
}

h1.six {
    color: green;
    text-shadow: 2px 2px 3px yellow;
}

/* box shadow */
div.one {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: gold;
    box-shadow: 9px 9px;
    margin-bottom: 50px;
}

div.two {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: green;
    box-shadow: 9px 9px cyan;
    margin-bottom: 50px;
}

div.three {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: goldenrod;
    box-shadow: 10px 10px 5px lightblue;
    margin-bottom: 50px;
}