body {
    text-align: center;
}

.tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    /* right */
    /* top: -5px; */
    /* right: 105%; */

    /* left  */
    /* top: -5px; */
    /* left: 105%; */

    /* top */
    /* bottom: 100%; */
    /* left: 50%; */
    /* margin-left: -60px; */
    /* Use half of the width (120/2 = 60), to center the tooltip */

    /* bottom */
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tip:hover .tiptext {
    visibility: visible;
}

/* ------------------------------------------------------------ */

.tip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tip1 .tiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 150%; */
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tip1:hover .tiptext1 {
    visibility: visible;
}

.tip1 .tiptext1::after {
    /* top */
    /* content: ""; */
    /* position: absolute; */
    /* top: 100%; */
    /* left: 50%; */
    /* margin-left: -5px; */
    /* border-width: 5px; */
    /* border-style: solid; */
    /* border-color: black transparent transparent transparent; */

    /* bottom  */
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* ------------------------------------------------------------ */

.tip3 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tip3 .tiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    /* left: 110%; */
    right: 110%;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tip3 .tiptext3::after {
    /* right */
    /* content: ""; */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 100%; */
    /* margin-top: -5px; */
    /* border-width: 5px; */
    /* border-style: solid; */
    /* border-color: transparent black transparent transparent; */

    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tip3:hover .tiptext3 {
    visibility: visible;
    opacity: 1;
}
