div.one {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: sample;
    animation-duration: 4s;
}

@keyframes sample {
    from {
        background-color: red;
    }

    to {
        background-color: gold;
    }
}

/* ----------------------------------------------- */

div.two {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

/* ----------------------------------------------- */

/* Animation Shorthand Property */
div.three {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: several;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes several {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

/* ----------------------------------------------- */

div.four {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
    animation: first 5s linear 5s 2 reverse;
}

@keyframes first {
    0% {
        background-color: orange;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: orange;
        left: 0px;
        top: 0px;
    }
}
