div.one {
    width: 300px;
    height: 100px;
    border: 1px solid #000000;
    background-color: yellowgreen;
}

div.one-div {
    transform: rotateX(150deg);
}

div.two-div {
    transform: rotateY(150deg);
}

div.three-div {
    transform: rotateZ(90deg);
}